PORT=4001
MONGO_URI=mongodb+srv://asmitm750_db_user:Asmitm102@cluster0.tturztf.mongodb.net/?appName=Cluster0
JWT_SECRET=yehmerasecretkeyhai12345
GEMINI_API_KEY=AQ.Ab8RN6JSr6swB-J46yUDM2W2E0DiteIqRDSHau47NX_lkV2LrQ